<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h4>List users</h4>
	<table>
		<tr>
			<th>Id</th>
			<th>User name</th>
			<th>Address</th>
		</tr>
		<%@user.each do |user| %>
		<tr>
			<td><%= user['iduser'] %></td>
			<td><%= user['username'] %></td>
			<td><%= user['address'] %></td>
			<td><a href="./update/<%= user['iduser'] %>">update</a></td>
			<td><a href="./delete/<%= user['iduser'] %>">delete</a></td>
		</tr>
		<%end%>
	</table>
	<a href="./users/new">Add new user</a>
</body>
</html>