<section class="wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header"><i class="fa fa-table"></i> Detail information</h3>
    </div>
  </div>
  <div class="row" style="margin: 0% 15%;">
		<% if !flash[:notice].blank? %>
     <div class = "alert alert-info">
        <%= flash[:notice] %>
     </div>
    <% end %>
    <div class="col-lg-4">
    	<p>
			  <%= image_tag @book.image.url %>
			</p>
    </div>
    <div class="col-lg-6" style="font-size: 16px;">
    	<p>
				<strong>Book's name:	</strong>
				<%= @book.bookname %>
			</p>
			<p>
				<strong>Author:	</strong>
				<%= @book.author %>
			</p>
			<p>
				<strong>Price:	</strong>
				<%= @book.price %>
			</p>
			<%= link_to "back", books_path %>
    </div>
  </div>
</section>