<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>
  <div style="max-width: 70%; margin: 10% auto;">
    <p>Please input reset password token which received from your email</p>
    <%= form_tag("/check_reset_token", method: :post) do %>
      <p>
        <%= label_tag :password, 'New password' %>
        <%= password_field_tag :password %>
      </p>
      <p>
        <%= label_tag :password_confirmation, 'Confirm new password' %>
        <%= password_field_tag :password_confirmation %>
      </p>
      <p>
        <%= label_tag :reset_pass_token, 'Reset token' %>
        <%= text_field_tag :reset_pass_token %>
      </p>
      <%= submit_tag("Confirm") %>
    <% end %>
  </div>
</body>
</html>