<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="<%= url("/css/style.css") %>">
</head>
<body>
<header class="header">
    <div class="div-title">
      <div class="container">
        <div class="div-title-left clr">
          <img class="div-title-logo" src="../images/logo.png" alt="">  
          <div class="div-title-name">
            <h3>Book store</h3>
            <span>Read for good life</span>
          </div>
        </div>
      </div>
    </div>
    <!-- <div > -->
    <nav class="div-menu clr">
      <div class="container">
        <ul >
          <li><a href="./index">Home page</a></li>
          <li><a href="./vieworder">View order</a></li>
          <li><a href="./books">Manage books</a></li>
        </ul> 
      </div>  
    </nav>
    <!-- </div>  -->
    <div class="bg">
    </div>

  </header><!-- /header -->

  <main class="container clr">
    <div class="col-main">
      <ul class="news-list clr">
      <% @books.each do |book| %>
	        <li class="item">
	          <div class="news">
              <div class="news-img">
	             <a href=""><img src="<%= book['image'] %>" alt=""></a>
	            </div>
              <h4><a class="news-title" href=""><%= book['booksname'] %></a></h4>
	            <p class="news-content"><%= book['author'] %></p>
	          	<span class="news-price" href=""><%= book['price'] %></span>
	            <p class="news-content"><%= book['information'] %></p>
	            <a class="" href="/detail/<%= book['idbooks'] %>">Detail</a>
	          </div>
	        </li>
	       <%end%>
      </ul>
    </div>
  </main>
  <footer>
    <div class="footer-info">
      <div class="container">
        <!-- <div class="info">
          <span>VỀ PHÒNG KHÁM</span>
          <ul> 
            <li><a href="">Giới thiệu chung</a></li>
            <li><a href="">Nhân lực</a></li>
            <li><a href="">Trang thiết bị và cơ sở vật chất</a></li>
          </ul>
        </div>
        <div class="info">
          <span>HỖ TRỢ</span>
          <ul> 
            <li><a href="">Tư vấn sức khỏe</a></li>
            <li><a href="">Y học thường thức</a></li>
            <li><a href="">Đặt lịch khám</a></li>
          </ul>
        </div>
        <div class="info info-social">
          <span>KẾT NỐI XÃ HỘI</span>
          <ul> 
            <li><a href=""><img src="../images/icon-facebook.png" alt=""> Facebook</a></li>
            <li><a href=""><img src="../images/icon-gplus.png" alt="">Google</a></li>
            <li><a href=""><img src="../images/icon-youtube.png" alt="">Youtube</a></li>
          </ul>
        </div> -->
      </div>
    </div>
    <div class="coppy-right clr">
      <!-- <div class="container">
        <span>@2017 - Bản quyền thuộc phòng khám chuyên khoa</span>
        <p>Phát triển bởi <a href="http://kovo.vn/">KOVO.VN</a></p>
      </div> -->
    </div>
  </footer>
</body>
</html>